dump/bibles.json filter=lfs diff=lfs merge=lfs -text
dump/books.json filter=lfs diff=lfs merge=lfs -text
dump/chapters.json filter=lfs diff=lfs merge=lfs -text
dump/languages.json filter=lfs diff=lfs merge=lfs -text
dump/verses.json filter=lfs diff=lfs merge=lfs -text
